* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #303030;
    text-align: center;
}
.jumboExtra {
    background-color: #EB5757;
    color: #ffffff;
    padding: 30px;
    margin-bottom: 0px;
}
.container {
    /* background-color:#088112; */
    color: #000000;
    max-width: 90%;
}
.card {
    margin-top: 20px;
}

.col-lg-3 .col-md-6 .col-sm-6 {
    padding: 0;
    margin: 0;
}